{{!
OPTIONAL       }}{{^required}}Option<{{/required}}{{#required}}{{#isNullable}}Option<{{/isNullable}}{{/required}}{{!
PRIMITIVES     }}{{^isPrimitiveType}}{{^isEnumRef}}&'l{{-index}} {{/isEnumRef}}{{/isPrimitiveType}}{{!
STRING         }}{{#isString}}&'l{{-index}} str{{/isString}}{{^isString}}{{{dataType}}}{{/isString}}{{!
CLOSE OPTIONAL }}{{#required}}{{#isNullable}}>{{/isNullable}}{{/required}}{{^required}}>{{/required}}