{{^required}}Option<{{/required}}{{#required}}{{#isNullable}}Option<{{/isNullable}}{{/required}}{{^isPrimitiveType}}{{^isEnumRef}}&'l{{-index}} {{/isEnumRef}}{{/isPrimitiveType}}{{#isString}}&'l{{-index}} str{{/isString}}{{^isString}}{{{dataType}}}{{/isString}}{{#required}}{{#isNullable}}>{{/isNullable}}{{/required}}{{^required}}>{{/required}}