/*
 * CurseForge API
 *
 * HTTP API for CurseForge
 *
 * The version of the OpenAPI document: 1.0.240719
 * 
 * Generated by: https://openapi-generator.tech
 */


#[allow(unused_imports)]
use crate::{
    models::{self, *},
    ErrorResponse, Result,
};

/// struct for passing parameters to the method [`ModsApi::get_featured_mods`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetFeaturedModsParams<'l1,> {
    pub get_featured_mods_request_body: &'l1 GetFeaturedModsRequestBody,
}

/// struct for passing parameters to the method [`ModsApi::get_mod`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetModParams<> {
    /// The mod id.
    pub mod_id: u64,
}

/// struct for passing parameters to the method [`ModsApi::get_mod_description`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetModDescriptionParams<> {
    /// The mod id.
    pub mod_id: u64,
}

/// struct for passing parameters to the method [`ModsApi::get_mods`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetModsParams<'l1,> {
    pub get_mods_by_ids_list_request_body: &'l1 GetModsByIdsListRequestBody,
}

/// struct for passing parameters to the method [`ModsApi::search_mods`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct SearchModsParams<'l4,'l5,'l11,> {
    /// Filter by game id.
    pub game_id: u64,
    /// Filter by section id (discoverable via Categories)
    pub class_id: Option<u64>,
    /// Filter by category id
    pub category_id: Option<u64>,
    /// Filter by game version string
    pub game_version: Option<&'l4 str>,
    /// Filter by free text search in the mod name and author
    pub search_filter: Option<&'l5 str>,
    /// Filter by ModsSearchSortField enumeration
    pub sort_field: Option<ModsSearchSortField>,
    /// 'asc' if sort is in ascending order, 'desc' if sort is in descending order 
    pub sort_order: Option<SortOrder>,
    /// Filter only mods associated to a given modloader (Forge, Fabric ...). Must be coupled with gameVersion. 
    pub mod_loader_type: Option<ModLoaderType>,
    /// Filter only mods that contain files tagged with versions of the given gameVersionTypeId
    pub game_version_type_id: Option<u64>,
    /// Filter only mods that the given authorId is a member of.
    pub author_id: Option<u64>,
    /// Filter by slug (coupled with classId will result in a unique result).
    pub slug: Option<&'l11 str>,
    /// A zero based index of the first item to include in the response, the limit is: (index + pageSize <= 10,000).
    pub index: Option<u32>,
    /// The number of items to include in the response, the default/maximum value is 50.
    pub page_size: Option<u32>,
}


/// struct for typed errors of method [`ModsApi::get_featured_mods`]
#[derive(Debug, Clone, Serialize, Deserialize, thiserror::Error)]
#[serde(untagged)]
pub enum GetFeaturedModsError {
    #[error("Bad Request")]
    Status400,
    #[error("Not Found")]
    Status404,
    #[error("Internal Server Error")]
    Status500,
    #[error("Unrecognized Error")]
    Unknown(serde_json::Value),
}
/// struct for typed errors of method [`ModsApi::get_mod`]
#[derive(Debug, Clone, Serialize, Deserialize, thiserror::Error)]
#[serde(untagged)]
pub enum GetModError {
    #[error("Not found")]
    Status404,
    #[error("Internal Server Error")]
    Status500,
    #[error("Unrecognized Error")]
    Unknown(serde_json::Value),
}
/// struct for typed errors of method [`ModsApi::get_mod_description`]
#[derive(Debug, Clone, Serialize, Deserialize, thiserror::Error)]
#[serde(untagged)]
pub enum GetModDescriptionError {
    #[error("Not Found")]
    Status404,
    #[error("Internal Server Error")]
    Status500,
    #[error("Unrecognized Error")]
    Unknown(serde_json::Value),
}
/// struct for typed errors of method [`ModsApi::get_mods`]
#[derive(Debug, Clone, Serialize, Deserialize, thiserror::Error)]
#[serde(untagged)]
pub enum GetModsError {
    #[error("Bad Request")]
    Status400,
    #[error("Internal Server Error")]
    Status500,
    #[error("Unrecognized Error")]
    Unknown(serde_json::Value),
}
/// struct for typed errors of method [`ModsApi::search_mods`]
#[derive(Debug, Clone, Serialize, Deserialize, thiserror::Error)]
#[serde(untagged)]
pub enum SearchModsError {
    #[error("Bad Request")]
    Status400,
    #[error("Internal Server Error")]
    Status500,
    #[error("Unrecognized Error")]
    Unknown(serde_json::Value),
}

pub struct ModsApi<'c>(pub(crate) &'c crate::ApiClient);
impl ModsApi<'_> {
    /// Get a list of featured, popular and recently updated mods.
    pub async fn get_featured_mods(&self, params: &GetFeaturedModsParams<'_,>) -> Result<models::GetFeaturedModsResponse> {
        #[allow(unused_mut)]
        let mut req_builder = self.0.request(
            reqwest::Method::POST,
            "/v1/mods/featured"
        );

        // Auth
        #[allow(unused_mut)]
        {
            let auth = &self.0.auth;
            let mut cookies = Vec::<String>::new();
            if let Some(val) = &auth.api_key_auth {
                let mut val = reqwest::header::HeaderValue::from_str(val)?;
                val.set_sensitive(true);
                req_builder = req_builder.header("x-api-key", val);
            }
            if !cookies.is_empty() {
                req_builder = req_builder.header(
                    reqwest::header::COOKIE,
                    reqwest::header::HeaderValue::from_str(&cookies.join("; "))?
                );
            }
        }

        req_builder = req_builder.json(&params.get_featured_mods_request_body);

        let resp = req_builder.send().await?;

        let status = resp.status();
        let content = resp.text().await?;

        if !status.is_client_error() && !status.is_server_error() {
            serde_json::from_str(&content).map_err(Into::into)
        } else {
            #[allow(clippy::match_single_binding)]
            let error = match status.as_u16() {
                400 => GetFeaturedModsError::Status400,
                404 => GetFeaturedModsError::Status404,
                500 => GetFeaturedModsError::Status500,
                _ => GetFeaturedModsError::Unknown(serde_json::from_str(&content)?),
            };
            Err(ErrorResponse { status, content, source: Some(error.into()) }.into())
        }
    }
    /// Get a single mod.
    pub async fn get_mod(&self, params: &GetModParams<>) -> Result<models::GetModResponse> {
        #[allow(unused_mut)]
        let mut req_builder = self.0.request(
            reqwest::Method::GET,
            format_args!(
            "/v1/mods/{modId}"
            , modId=params.mod_id
            )
        );

        // Auth
        #[allow(unused_mut)]
        {
            let auth = &self.0.auth;
            let mut cookies = Vec::<String>::new();
            if let Some(val) = &auth.api_key_auth {
                let mut val = reqwest::header::HeaderValue::from_str(val)?;
                val.set_sensitive(true);
                req_builder = req_builder.header("x-api-key", val);
            }
            if !cookies.is_empty() {
                req_builder = req_builder.header(
                    reqwest::header::COOKIE,
                    reqwest::header::HeaderValue::from_str(&cookies.join("; "))?
                );
            }
        }


        let resp = req_builder.send().await?;

        let status = resp.status();
        let content = resp.text().await?;

        if !status.is_client_error() && !status.is_server_error() {
            serde_json::from_str(&content).map_err(Into::into)
        } else {
            #[allow(clippy::match_single_binding)]
            let error = match status.as_u16() {
                404 => GetModError::Status404,
                500 => GetModError::Status500,
                _ => GetModError::Unknown(serde_json::from_str(&content)?),
            };
            Err(ErrorResponse { status, content, source: Some(error.into()) }.into())
        }
    }
    /// Get the full description of a mod in HTML format.
    pub async fn get_mod_description(&self, params: &GetModDescriptionParams<>) -> Result<models::ModDescriptionResponse> {
        #[allow(unused_mut)]
        let mut req_builder = self.0.request(
            reqwest::Method::GET,
            format_args!(
            "/v1/mods/{modId}/description"
            , modId=params.mod_id
            )
        );

        // Auth
        #[allow(unused_mut)]
        {
            let auth = &self.0.auth;
            let mut cookies = Vec::<String>::new();
            if let Some(val) = &auth.api_key_auth {
                let mut val = reqwest::header::HeaderValue::from_str(val)?;
                val.set_sensitive(true);
                req_builder = req_builder.header("x-api-key", val);
            }
            if !cookies.is_empty() {
                req_builder = req_builder.header(
                    reqwest::header::COOKIE,
                    reqwest::header::HeaderValue::from_str(&cookies.join("; "))?
                );
            }
        }


        let resp = req_builder.send().await?;

        let status = resp.status();
        let content = resp.text().await?;

        if !status.is_client_error() && !status.is_server_error() {
            serde_json::from_str(&content).map_err(Into::into)
        } else {
            #[allow(clippy::match_single_binding)]
            let error = match status.as_u16() {
                404 => GetModDescriptionError::Status404,
                500 => GetModDescriptionError::Status500,
                _ => GetModDescriptionError::Unknown(serde_json::from_str(&content)?),
            };
            Err(ErrorResponse { status, content, source: Some(error.into()) }.into())
        }
    }
    /// Get a list of mods.
    pub async fn get_mods(&self, params: &GetModsParams<'_,>) -> Result<models::GetModsResponse> {
        #[allow(unused_mut)]
        let mut req_builder = self.0.request(
            reqwest::Method::POST,
            "/v1/mods"
        );

        // Auth
        #[allow(unused_mut)]
        {
            let auth = &self.0.auth;
            let mut cookies = Vec::<String>::new();
            if let Some(val) = &auth.api_key_auth {
                let mut val = reqwest::header::HeaderValue::from_str(val)?;
                val.set_sensitive(true);
                req_builder = req_builder.header("x-api-key", val);
            }
            if !cookies.is_empty() {
                req_builder = req_builder.header(
                    reqwest::header::COOKIE,
                    reqwest::header::HeaderValue::from_str(&cookies.join("; "))?
                );
            }
        }

        req_builder = req_builder.json(&params.get_mods_by_ids_list_request_body);

        let resp = req_builder.send().await?;

        let status = resp.status();
        let content = resp.text().await?;

        if !status.is_client_error() && !status.is_server_error() {
            serde_json::from_str(&content).map_err(Into::into)
        } else {
            #[allow(clippy::match_single_binding)]
            let error = match status.as_u16() {
                400 => GetModsError::Status400,
                500 => GetModsError::Status500,
                _ => GetModsError::Unknown(serde_json::from_str(&content)?),
            };
            Err(ErrorResponse { status, content, source: Some(error.into()) }.into())
        }
    }
    /// Get all mods that match the search criteria.
    pub async fn search_mods(&self, params: &SearchModsParams<'_,'_,'_,>) -> Result<models::SearchModsResponse> {
        #[allow(unused_mut)]
        let mut req_builder = self.0.request(
            reqwest::Method::GET,
            "/v1/mods/search"
        );

        // Auth
        #[allow(unused_mut)]
        {
            let auth = &self.0.auth;
            let mut cookies = Vec::<String>::new();
            if let Some(val) = &auth.api_key_auth {
                let mut val = reqwest::header::HeaderValue::from_str(val)?;
                val.set_sensitive(true);
                req_builder = req_builder.header("x-api-key", val);
            }
            if !cookies.is_empty() {
                req_builder = req_builder.header(
                    reqwest::header::COOKIE,
                    reqwest::header::HeaderValue::from_str(&cookies.join("; "))?
                );
            }
        }

        req_builder = req_builder.query(&[("gameId", &params.game_id)]);
        if let Some(ref param_value) = params.class_id {
            req_builder = req_builder.query(&[("classId", &param_value)]);
        }
        if let Some(ref param_value) = params.category_id {
            req_builder = req_builder.query(&[("categoryId", &param_value)]);
        }
        if let Some(ref param_value) = params.game_version {
            req_builder = req_builder.query(&[("gameVersion", &param_value)]);
        }
        if let Some(ref param_value) = params.search_filter {
            req_builder = req_builder.query(&[("searchFilter", &param_value)]);
        }
        if let Some(ref param_value) = params.sort_field {
            req_builder = req_builder.query(&[("sortField", &param_value)]);
        }
        if let Some(ref param_value) = params.sort_order {
            req_builder = req_builder.query(&[("sortOrder", &param_value)]);
        }
        if let Some(ref param_value) = params.mod_loader_type {
            req_builder = req_builder.query(&[("modLoaderType", &param_value)]);
        }
        if let Some(ref param_value) = params.game_version_type_id {
            req_builder = req_builder.query(&[("gameVersionTypeId", &param_value)]);
        }
        if let Some(ref param_value) = params.author_id {
            req_builder = req_builder.query(&[("authorId", &param_value)]);
        }
        if let Some(ref param_value) = params.slug {
            req_builder = req_builder.query(&[("slug", &param_value)]);
        }
        if let Some(ref param_value) = params.index {
            req_builder = req_builder.query(&[("index", &param_value)]);
        }
        if let Some(ref param_value) = params.page_size {
            req_builder = req_builder.query(&[("pageSize", &param_value)]);
        }

        let resp = req_builder.send().await?;

        let status = resp.status();
        let content = resp.text().await?;

        if !status.is_client_error() && !status.is_server_error() {
            serde_json::from_str(&content).map_err(Into::into)
        } else {
            #[allow(clippy::match_single_binding)]
            let error = match status.as_u16() {
                400 => SearchModsError::Status400,
                500 => SearchModsError::Status500,
                _ => SearchModsError::Unknown(serde_json::from_str(&content)?),
            };
            Err(ErrorResponse { status, content, source: Some(error.into()) }.into())
        }
    }
}
